body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b1b1b;
    color: #fff;
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th, td{
    padding: 0 10px;
}